{
  "menu": {
    "com": {
      "powerx": {
        "plugins": {
          "base": {
            "template": "基础插件",
            "intro": "插件介绍",
            "templates": {
              "title": "模版",
              "develop": "开发介绍",
              "crud": "模版 CRUD",
              "framework_lab": "framework功能测试"
            },
            "business": {
              "title": "业务运营",
              "customer_base": "客户基础管理"
            },
            "integration": {
              "title": "集成中心",
              "webhooks": "Webhooks",
              "secrets": "Secrets",
              "marketplace": "Marketplace 列表",
              "recommendation": "推荐实验",
              "insights": "洞察"
            }
          }
        }
      }
    }
  }
}
