package bootstrap

import (
	"context"

	"{{ .BackendModulePath }}/internal/config"
	"{{ .BackendModulePath }}/internal/grpc/client"
	"{{ .BackendModulePath }}/internal/logger"
)

func BootstrapGRPCClient(ctx context.Context, cfg *config.GRPCUpstream) *client.PowerXServiceClient {

	pxc, err := client.NewPowerXServiceClient(ctx, cfg)
	if err != nil {
		logger.FatalWith(nil, ctx, "Failed to initialize PowerX gRPC client", logger.Fields{
			"module":     "grpc",
			"biz_scene":  "grpc_client_bootstrap",
			"biz_domain": "integration",
			"component":  "bootstrap.grpc",
			"error":      err.Error(),
		})
	}

	logger.Info("PowerX gRPC client initialized successfully")

	return pxc
}
