package bootstrap

import (
	"context"

	"{{ .BackendModulePath }}/internal/config"
	"{{ .BackendModulePath }}/internal/grpc/client"
	"{{ .BackendModulePath }}/internal/logger"
)

func BootstrapGRPCClient(ctx context.Context, cfg *config.GRPCUpstream) *client.PowerXServiceClient {

	pxc, err := client.NewPowerXServiceClient(ctx, cfg)
	if err != nil {
		logger.WithError(err).Fatal("Failed to initialize PowerX gRPC client")
	}

	logger.Info("PowerX gRPC client initialized successfully")

	return pxc
}
