{
  "$schema": "https://json-schema.org/draft/2020-12/schema",
  "title": "TemplatePublishInput",
  "type": "object",
  "properties": {
    "template_uuid": {
      "type": "string",
      "format": "uuid"
    },
    "channel": {
      "type": "string"
    },
    "version": {
      "type": "string"
    }
  },
  "required": [
    "template_uuid"
  ],
  "additionalProperties": false
}
