POWERX_PROXY=0
NUXT_DEV_PORT={{ .FrontendPort }}
NUXT_PUBLIC_API_BASE=http://localhost:{{ .BackendPort }}
NUXT_PUBLIC_API_PREFIX=/api/v1
NUXT_DEV_API_PROXY=http://127.0.0.1:{{ .BackendPort }}
NUXT_DEV_WS_PROXY=ws://127.0.0.1:4000
NUXT_PUBLIC_BRIDGE_DEBUG=false
