POWERX_PROXY=0
NUXT_PUBLIC_INSIDE_POWERX=0
NUXT_DEV_PORT={{ .FrontendPort }}
NUXT_PUBLIC_API_BASE=http://localhost:{{ .BackendPort }}
NUXT_PUBLIC_API_PREFIX=/api/v1
NUXT_DEV_API_PROXY=http://127.0.0.1:{{ .BackendPort }}
NUXT_DEV_WS_PROXY=ws://127.0.0.1:{{ .BackendPort }}
NUXT_PUBLIC_POWERX_CORE_BASE=http://localhost:8077
NUXT_PUBLIC_IAM_MODE=local
