# Standalone（默认）
POWERX_PROXY=0
IAMMode=local
POWERX_RBAC_DELEGATE=false
PLUGIN_IAM_TENANT_KEY=00000000-0000-0000-0000-000000000001
PLUGIN_IAM_TENANT_NAME="Local Tenant"
PLUGIN_IAM_ADMIN_EMAIL=admin@local.test
PLUGIN_IAM_ADMIN_PASSWORD='S3cret!!'
NUXT_PUBLIC_BRIDGE_DEBUG=false
# 模拟宿主/委派 IAM（按需启用）
# POWERX_PROXY=1
# POWERX_RBAC_DELEGATE=true
# POWERX_CORE_ENDPOINT=http://localhost:8090
# POWERX_SECURITY_JWT_ISSUER=powerx-auth
# POWERX_SECURITY_JWT_AUDIENCE=plugin:com.powerx.plugin.base
