{
  "name": "{{ .PluginSlug }}-web-admin",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "nuxi dev",
    "build": "nuxi build"
  },
  "dependencies": {
    "@powerx-plugin/framework-admin": "{{ .FrameworkAdminRef }}",
    "@powerx-plugin/framework-client": "{{ .FrameworkClientRef }}",
    "nuxt": "^4.2.0"
  },
  "devDependencies": {
    "nuxi": "^3.29.3"
  }
}
